.history
.vercel

.env
.env.*
!.env.example

supabase-schema.sql

# development stuff
**/Scripts/
**/source/
# tests
tests
# dump scripts
**/*ignore*/

ignore-key-system
TODO

webhooks.env
discord-webhooks.secret.json
scripts-util

supabase/.temp/