.history
.vercel
.vscode/

*.env
discord-webhooks.secret.json
hits.json

schema/
supabase/.temp/

# dev
workspace
tests
scripts-util
TODO

# decompiled scripts
**/Scripts/
!src/scripts/
# scripts generated using decompiled scripts and will used to plan new features
**/source/
**/source.lua

# wip/broken/private
*-ignore*