.history
.vercel
.vscode/

*.env
discord-webhooks.secret.json

schema/
supabase/.temp/

# dev
workspace
tests
scripts-util
TODO

# decompiled scripts
**/Scripts/
# scripts generated using decompiled scripts and will used to plan new features
**/source/

# wip/broken/private
*-ignore*